$grid-column-header-font-weight: normal;
$grid-header-trigger-width: 18px;
$grid-header-background-color: transparent;
$grid-header-over-background-color: transparent;
$grid-column-header-focus-background-color: transparent;
$grid-column-header-focus-border-color: transparent;
$grid-header-border-color: transparent;