.#{$prefix}monthpicker-item a.#{$prefix}monthpicker-item-inner.#{$prefix}monthpicker-disabled {
  background-color: #EEE;
  cursor: default;
  color: #b3b3b3;
}

.#{$prefix}monthpicker-item a.#{$prefix}monthpicker-item-inner.#{$prefix}monthpicker-disabled:hover {
  background-color: #EEE;
  cursor: default;
  color: #b3b3b3;
}